<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>投票ページの見出し</title>
  </head>
  <body>
    <p>{{ title_text }}</p>
    {% if latest_question_list %}
      <ul>
        {% for question in latest_question_list %}
           <!-- 書き方の問題・・これだと「/polls/」に変更が生じたときいっしょに書き換えないといけないので大変
                name属性を指定してあれば大丈夫。 -->
           <!--<li><a href = "/polls/{{question.id}}">{{ question.question_text }}</a></li>-->
           <li><a href = "{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No polls are available.</p>
    {% endif %}
    <a href = "{% url 'home:hello' %}">ホームページに戻る</a>
  </body>
</html>
