<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
      *{ margin: 0; padding: 0; }
    </style>
  </head>
  <body>
    <!-- ヘッダー -->
    <div id = "header">
      {% block header %}{% endblock %}
    </div>
    <!-- コンテンツ -->
    <div id = "content">
      {% block content %}{% endblock %}
    </div>
    <!-- フッター -->
    <div id = "footer">
      {% block footer %}{% endblock %}
    </div>
  </body>
</html>
